$main-font: "Cambay", sans-serif;
$default-font: "radio-canada", sans-serif;

$white-color: #fff;
$orange-color: #f86011;
$grey-color: #777;
$black-color: #000;
$blue-color: #0064fe;
$yellow-color: #f8cc23;
$green-color: #3bc77b;
$gray-color: #f4f4f6;

$light-orange-bg: #ffe7da;
